<h1>This is the Secret Page!!!</h1>

<p>You Found Me!</p>
<img src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/02/14/Pictures/_b6286ab8-1144-11e8-8db2-4ddb0f8cfdad.jpg">

<li><a href="/logout">Logout</a></li>